/*header and main styles*/

.header-hero {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 40px;
}

td {
    cursor: pointer;
    text-align: center;
    font-size: 50px;
}

.restart-button {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px;
}

.restart-button > button {
    font-size: 20px;
}